.hello_world {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: ptr(120);
  background-color: $black;
  font-size: ptr(40);
  font-weight: bold;
  gap: ptr(16);

  .title {
    display: flex;
    gap: ptr(8);
    align-items: center;
    justify-content: center;
    color: $white;
  }

  .description {
    color: $white;
    font-size: ptr(20);
    text-align: center;
  }

  .logo {
    width: ptr(40);
    height: ptr(40);
  }
}
